# Ignore les fichiers statiques et de build du front-end
Front/public/* linguist-detectable=false
Front/build/* linguist-detectable=false

# Ignore certains fichiers non pertinents pour la détection
*.env linguist-detectable=false
*.json linguist-detectable=false
*.md linguist-detectable=false

# Forcer la détection des fichiers JavaScript
Front/src/** linguist-language=JavaScript
Back/** linguist-language=JavaScript

# Forcer la détection des fichiers CSS
Front/src/**/*.css linguist-language=CSS
Front/public/**/*.css linguist-language=CSS
