.message-container {
    display: flex;
}

.message-users-container {
    display: flex;
    margin-left: 350px;
    width: calc(100% - 350px);
    height: 100vh;
}


.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 40%;
    border-right: 1px solid black;
}

.search-input {
    display: flex;
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
    border: 1px solid black;
}

.search-input input {
    border: none;
    width: 80%;
    outline: none;
}

.search-input img {
    height: 25px;
    width: 25px;
}

.conv-header img {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-message {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.new-message img {
    object-fit: cover;
    border-radius: 15px;
    width: 50px;
    transition: 0.2s;
}

.new-message img:hover {
    background-color: rgba(93, 93, 93, 0.258);
    transition: 0.2s;
}

.new-message-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.456);
}

.new-message-div {
    height: 500px;
    width: 600px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.new-message-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.new-message-header img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.search-results {
    margin-top: 10px;
}

.search-results img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.result-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
}

.result-container:hover {
    background-color: rgba(128, 128, 128, 0.119);
}

.conv-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}

.conv-header {
    display: flex;
    background-color: white;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.conv-header img {
    object-fit: cover;
}

.conv-component {
    height: 80%;
}

.conv-inputs-container {
    border-top: 1px solid black;
}

.conv-inputs form {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.119);
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    margin: 10px auto;
}

.conv-inputs textarea {
    border: none;
    outline: none;
    width: 85%;
    resize: none;
    padding: 5px;
    height: 15px;
}

.conv-inputs img {
    max-width: 35px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.conv-inputs img:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.3s;
}